#################################################
# following https://github.com/cvg/depthsplat;
#################################################
wheel
tqdm
pytorch_lightning
black
ruff
hydra-core
jaxtyping
beartype
wandb
einops
colorama
scikit-image
colorspacious
matplotlib
moviepy
imageio
# to install this diff-gaussian-rasterization-modified
# make sure your cuda version and g++, gcc version matched
# see: https://stackoverflow.com/questions/6622454/cuda-incompatible-with-my-gcc-version
# CUDA version + max supported GCC version
# e.g., cuda 12.4, 12.5, 12.6, with GCC <= 13.2
# e.g., cuda 12.8,  with GCC <= 14
git+https://github.com/dcharatan/diff-gaussian-rasterization-modified
dacite
lpips
e3nn
plyfile
tabulate
svg.py
opencv-python>=4.8.1.78
sk-video